@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using ShareAdmin
@using ShareAdmin.Web.Helpers
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/favicon.ico">

    <title>ShareAdmin</title>

    @Styles.Render("~/Bundles/main-site/css")
    @Scripts.Render("~/Bundles/main-site/js")

</head>
<body class="theme-blue-grey">
    @RenderBody()
</body>
</html>
